@import '~bootstrap/scss/bootstrap';

.logo-mm {
  width: 50px !important;
}

.dropdown-item.text-light:hover {
  color: black !important;
}

.narrow {
  max-width: 980px;
  margin: 0 auto;
}

.input-group-text {
  min-width: 140px;
}